
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    classpath:/org/springframework/beans/factory/xml/spring-beans-3.1.xsd
	    http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	    http://www.springframework.org/schema/context 
	    classpath:/org/springframework/context/config/spring-context-3.1.xsd
	    http://www.springframework.org/schema/util
	    classpath:/org/springframework/beans/factory/xml/spring-util-3.1.xsd
	    http://www.springframework.org/schema/tx
	    classpath:/org/springframework/transaction/config/spring-tx-3.1.xsd
	    http://www.springframework.org/schema/aop 
        classpath:/org/springframework/aop/config/spring-aop-3.1.xsd "> 

    
     <mvc:annotation-driven/>
     <!-- 配置自动扫描的包 -->
        <context:component-scan base-package="com.zhao"/>	
         	   
	<!-- 定义个缺省的控制适配器 -->  
    <bean  
       class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>  
       
         <mvc:annotation-driven/>        
         <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
         <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         	  <property name="prefix" value="/WEB-INF/pages/" />
              <property name="suffix" value=".jsp" />
      <!--       <property name = "prefix" value="/WEB-INF/views/"></property>
             <property name = "suffix" value = ".jsp"></property> -->          
         </bean>    
  
  	<!-- 多部分文件上传  -->   
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <property name="maxUploadSize" value="104857600" />
         <property name="maxInMemorySize" value="4096" />
         <property name="defaultEncoding" value="UTF-8"></property>
    </bean>        
 </beans>